

body{
    display: flex;
    background-color: rgb(122, 121, 121);
}
.darkmode_body{
    background-color: rgb(46, 46, 46);
}
.header{
  background-color: skyblue;
  top: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.darkmode_header{
    background-color: black;
    color: white;
}

.toogle{
    position: absolute;
    right: 10px;   
}
#chek{
    display: none;
}
.darkbutton{
    display: block;
    background-color: skyblue;
    height: 15px;
    width: 30px;
    border-radius: 100px;
    border:1px solid black;
}
.darkbutton::before{
    content: "";
    height: 11px;
    width: 11px;
    box-shadow: -5px 0 0 0 rgb(0, 0, 0);
    transform: translateX(6px);
    background-color: skyblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 50%;
    transition: all 0.4s ease;
}
#chek:checked + .darkbutton::before{
    transform: translateX(14px);
    background-color: rgb(255, 255, 255);
}
#chek:checked + .darkbutton{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.4s ease;
}

.bottom-button{
    position: fixed;
    margin-bottom: 0px;
    bottom: 0px;
    right: 17px;
    bottom: 10px;
    display: grid;
    width: 70px;
    padding: 0px;
}

.addbutton{
    position: relative;
    background-color: yellow;
    height: 60px;
    width: 50px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 12px;
    left: 8px;
}

.clear{
    background: transparent;
    border: none;
    color: whitesmoke;
    padding-block: 3px;
    font-size: 35px;
}
.clear:hover{
    color: black;
}

.clear:active{
    color: red;
}

.notesplace{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    width: 100%;
    right: 0px;
    justify-content: center;
    gap: 20px;
}

.notes{
    border-radius: 15px;
    background-color: rgb(243, 241, 241);
    height: 200px;
    width: 200px;
    margin: 20px;  
    /* position: relative; */
    justify-content: center;
    transition: all 0.01s ;
    overflow: auto;
    opacity: 0.6;
}
.notes:hover{
    opacity: 1;
    box-shadow: 0px 0px 4px white;
}

/* .notesplace>.notes:active{
    background-color: pink;
    z-index: 10;
    transform: translate(65%,-50%) scale(2); 
    position: fixed;
    top: 50%;
    right: 50%;
    } */
    
    .notesplace>.notes>.heading_div{
        background-color: rgb(174, 174, 174);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 5px;
        padding-block: 0px;
        margin: 0px;
        height: auto;
    color : white;   
    overflow: auto;
}


.notesplace>.notes>.heading_div>.heading_div_right{
    display: ruby;
}

.dropmenu{   
    display: flex;
    list-style-type: none;
    padding-inline: 8px;
    font-weight: bold;
}
.dropmenu>.menu{
    font-size: 20px;
    background: transparent;
    border: none;
    pointer-events: all;
}
.menuli{
    display: grid;
    position: absolute;
    padding-block: 16px;
    padding-inline: 1px;
    border-radius: 14px;
    opacity: 0;
    pointer-events: none;
    margin-left: 19px;
}

.deletenote, .editnote{
    color: rgb(11, 11, 11);
    width: 60px;
    padding-inline: 2px;
    border: none;
    background: rgb(125, 125, 125);
    padding: 0%;
    font-size: 15px;
    font-style: normal;
    border: 0px solid rgb(50, 50, 50); 
    box-shadow: 0px 0px 16px rgb(160, 160, 160);
    
}

.notesplace>.notes> .note_preview{
    padding-inline: 10px;
}
.notesplace>.notes> .note_preview>h3{
    margin-top:10px;
    margin-bottom: 10px;
}
.notesplace>.notes> .note_preview > p{
    color: rgb(106, 106, 106);
}






.popupbox{
    z-index: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%,-33%);
    position: fixed;
    opacity: 0;
    width: 400px;
    height: auto;
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: auto;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}


.popup_title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 6px;
    font-size: 25px;
    background-color: skyblue;
    padding-block: 0px;
    color: white;
}

.popup_title>i{
    color: rgb(237, 123, 123);
    font-weight: lighter;
}

.popup_title>i:hover{
    color: rgb(255, 0, 0);
    font-weight: lighter;
}
.popup_title>i:active{
    font-size:smaller;
}

.popup_content, .popup_note{
    display: grid;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 0px;
}
.popup_content>label, .popup_note>label{
    font-weight: 700;
}

.popup_content>input{
    height: 25px;
    font-weight: bolder;
}

.popup_note>textarea{
    height: 130px;
}

.bottomofform{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.addform, .editform{
    color: white;
    background-color: grey;
    border: none;
    font-size: 15px;
    margin-bottom: 5px;
    border-radius: 15px;
    margin-inline: 5px;
    padding-inline: 15px;
    padding-block: 5px;
}
.addform:hover, .editform:hover{
    color: aqua;
}
.addform:active, .editform:active{
    font-size: smaller;
}

.editform{
    opacity: 0;
    pointer-events: none;
}

.show{
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
}

.darkmode_popupbox{
    background-color:  rgb(26, 25, 25);
    .popup_title{
        background-color: rgb(7, 7, 7);
    }
    .addform, .editform{
        border: 1px solid white;
        background-color: rgb(0, 0, 0);
    }
    .popup_content>label , .popup_note>label{
        color: white;
    }
    .popup_content>input , .popup_note> textarea{
        background-color: rgb(32, 31, 31);
        color: white;
    }
}


.darkmode_notes{
    .notes{
    background-color: rgb(123, 123, 123);
    }
    .notes:hover{        
        box-shadow: 0 0 8px black;
    }
    .notes>.heading_div{
        background-color: rgb(56, 57, 34);
    }
    .notes>.note_preview>p{
        color: white;
    }
    .dropmenu>.menu{
        color: white;
    }
    .deletenote, .editnote{
        box-shadow: 0px 0px 36px black;
    }
}






@media screen and (max-width: 800px){
    .notes{
        flex-wrap: 1 1 20%;
        max-width: 20%;
    }
    .deletenote, .editnote{
        width: 45px;
        font-size: 11px;
    }
}

@media screen and (max-width: 685px){
    .notes{
        flex-wrap: 1 1 30%;
        max-width: 35%;
    }
    .deletenote, .editnote{
        width: 55px;
        font-size: 14px;
    }
    .popupbox{
        height: 380px;
        width: 80%;
    }
    .heading_div{
        font-size: 14px;
    }
}


@media screen and (max-width: 352px){
    .notes{
        flex-wrap: 1 1 30%;
        max-width: 50%;
    }
    .deletenote, .editnote{
        width: 60px;
        font-size: 15px;
    }
    .popupbox{
        height: 380px;
        width: 80%;
    }
    .heading_div{
        font-size: 16px;
    }
}



