body {
  display: flex;
  background-color: rgb(210, 210, 210)
  transition: all ease 0.5s;
}

.darkmode_body {
  background-color: rgb(10, 10, 10);
}

.header {
  background-color: skyblue;
  top: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all ease 0.5s;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.darkmode_header {
  background-color: black;
  color: white;
  box-shadow: 0 0 8px rgb(47, 47, 47);
}

.toogle {
  position: absolute;
  right: 10px;
}

#chek {
  display: none;
}

.darkbutton {
  display: block;
  background-color: skyblue;
  height: 15px;
  width: 30px;
  border-radius: 100px;
  border: 1px solid black;
}

.darkbutton::before {
  content: "";
  height: 11px;
  width: 11px;
  box-shadow: -5px 0 0 0 rgb(0, 0, 0);
  transform: translateX(6px);
  background-color: skyblue;
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

#chek:checked + .darkbutton::before {
  transform: translateX(14px);
  background-color: rgb(255, 255, 255);
}

#chek:checked + .darkbutton {
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.4s ease;
}

.bottom-button {
  position: fixed;
  margin-bottom: 0px;
  bottom: 0px;
  right: 17px;
  bottom: 10px;
  display: grid;
  width: 70px;
  padding: 0px;
}

.addbutton {
  position: relative;
  background-color: yellow;
  height: 60px;
  width: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 12px;
  left: 8px;
}

.clear {
  background: transparent;
  border: none;
  color: whitesmoke;
  padding-block: 3px;
  font-size: 35px;
}

.clear:hover {
  color: black;
}

.clear:active {
  color: red;
}

.notesplace {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  width: 100%;
  right: 0px;
  justify-content: center;
  gap: 20px;
  transition: all ease 0.5s;
}

.notes {
  border-radius: 15px;
  background-color: rgb(243, 241, 241);
  height: 200px;
  width: 200px;
  margin: 20px;
  /* position: relative; */
  justify-content: center;
  transition: all 0.01s;
  overflow: auto;
  opacity: 0.6;
  transition: all ease 0.5s;
  box-shadow: 0 0 15px rgb(107, 107, 107);
}

.notes:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 2px white;
}

/* .notesplace>.notes:active{
    background-color: pink;
    z-index: 10;
    transform: translate(65%,-50%) scale(2); 
    position: fixed;
    top: 50%;
    right: 50%;
    } */

.notesplace > .notes > .heading_div {
  background-color: rgb(174, 174, 174);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  padding-block: 0px;
  margin: 0px;
  height: auto;
  color: white;
  overflow: auto;
  transition: all ease 0.5s;
}

.notesplace > .notes > .heading_div > .heading_div_right {
  display: ruby;
  transition: all ease 0.5s;
}

.dropmenu {
  display: flex;
  list-style-type: none;
  padding-inline: 8px;
  font-weight: bold;
  transition: all ease 0.5s;
}

.dropmenu > .menu {
  font-size: 20px;
  background: transparent;
  border: none;
  pointer-events: all;
  transition: all ease 0.5s;
}

.menuli {
  display: grid;
  position: absolute;
  margin-top: 25px;
  padding-block: 0px;
  padding-inline: 0px;
  border-radius: 14px;
  opacity: 0;
  pointer-events: none;
  margin-left: 6px;
  transition: all ease 0.5s;
}

.deletenote,
.editnote {
  color: rgb(11, 11, 11);
  width: 60px;
  padding-inline: 2px;
  border: none;
  background: rgb(125, 125, 125);
  padding: 0%;
  font-size: 15px;
  font-style: normal;
  border: 0px solid rgb(50, 50, 50);
  box-shadow: 0px 0px 16px rgb(160, 160, 160);
  transition: all ease 0.5s;
}

.notesplace > .notes > .note_preview {
  padding-inline: 10px;
  transition: all ease 0.5s;
}

.notesplace > .notes > .note_preview > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all ease 0.5s;
}

.notesplace > .notes > .note_preview > p {
  color: rgb(106, 106, 106);
  transition: all ease 0.5s;
}

.popupbox {
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -33%);
  position: fixed;
  opacity: 0;
  width: 400px;
  height: auto;
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: auto;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.popup_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6px;
  font-size: 25px;
  background-color: skyblue;
  padding-block: 0px;
  color: white;
  transition: all ease 0.5s;
}

.popup_title > i {
  color: rgb(237, 123, 123);
  font-weight: lighter;
  transition: all ease-in-out 0.2s;
}

.popup_title > i:hover {
  color: rgb(255, 0, 0);
  font-weight: lighter;
}

.popup_title > i:active {
  font-size: smaller;
}

.popup_content,
.popup_note {
  display: grid;
  padding: 5px 10px;
  font-size: 20px;
  margin-top: 0px;
  transition: all ease 0.5s;
}

.popup_content > label,
.popup_note > label {
  font-weight: 700;
}

.popup_content > input {
  height: 25px;
  font-weight: bolder;
}

.popup_note > textarea {
  height: 130px;
}

.bottomofform {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.addform,
.editform {
  color: white;
  background-color: grey;
  border: none;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 15px;
  margin-inline: 5px;
  padding-inline: 15px;
  padding-block: 5px;
  transition: all ease 0.5s;
}

.addform:hover,
.editform:hover {
  color: aqua;
}

.addform:active,
.editform:active {
  font-size: smaller;
}

.editform {
  display: none;

  pointer-events: none;
}

.editform.show {
  display: block;
}

.show {
  opacity: 1;
  pointer-events: all;
  transition: all 0.2s ease-in-out;
}

.darkmode_popupbox {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 2px grey;

  .popup_title {
    background-color: rgb(7, 7, 7);
    box-shadow: 0 0 5px grey;
  }

  .addform,
  .editform {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
  }

  .popup_content > label,
  .popup_note > label {
    color: white;
  }

  .popup_content > input,
  .popup_note > textarea {
    margin-top: 3px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    box-shadow: 0px 0px 3px grey;
  }
}

.darkmode_notes {
  .notes {
    background-color: rgb(10, 10, 10);
    box-shadow: 0 0 2px grey;
  }

  .notes:hover {
    box-shadow: 0 0 4px grey;
  }

  .notes > .heading_div {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 7px rgb(47, 47, 47);
  }

  .notes > .note_preview > p,
  .notes > .note_preview > h3 {
    color: white;
  }

  .dropmenu > .menu {
    color: white;
  }

  .deletenote,
  .editnote {
    box-shadow: 0px 0px 5px rgb(81, 81, 81);
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .notes {
    flex-wrap: 1 1 30%;
    max-width: 42%;
    margin: 8px;
  }

  .menuli {
    margin-left: 0px;
  }

  .deletenote,
  .editnote {
    width: 55px;
    font-size: 14px;
  }
}

@media screen and (max-width: 685px) {
  .notesplace {
    gap: 5px;
  }
  .notes {
    flex-wrap: 1 1 30%;
    max-width: 45%;
    margin: 8px;
  }

  .menuli {
    margin-left: -5px;
  }

  .deletenote,
  .editnote {
    width: 65px;
    font-size: 14px;
  }

  .popupbox {
    height: 380px;
    width: 80%;
  }

  .heading_div {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .notesplace {
    gap: 5px;
  }
  .notes {
    flex-wrap: 1 1 40%;
    max-width: 47%;
    margin: 3px;
  }
  .menuli {
    margin-left: -31px;
  }
}

@media screen and (max-width: 400px) {
  .notesplace {
    gap: 5px;
  }
  .notes {
    flex-wrap: 1 1 40%;
    max-width: 48%;
    margin: 2px;
  }

  .menuli {
    margin-left: -31px;
  }

  .deletenote,
  .editnote {
    width: 60px;
    font-size: 15px;
  }

  .popupbox {
    height: 380px;
    width: 80%;
  }

  .heading_div {
    font-size: 13px;
    font-weight: bolder;
  }
}
